[cols="3,2,3,5"]
|===
|파라미터|필수값|형식|설명

{{#parameters}}
|{{#tableCellContent}}`+{{name}}+`{{/tableCellContent}}
|{{#tableCellContent}}{{required}}{{/tableCellContent}}
|{{#tableCellContent}}{{format}}{{/tableCellContent}}
|{{#tableCellContent}}{{description}}{{/tableCellContent}}

{{/parameters}}
|===
